<?xpacket begin="&#xEF;&#xBB;&#xBF;" id="W5M0MpCehiHzreSzNTczkc9d"?>
<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6">
  <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">

    <rdf:Description rdf:about="{{ document_id }}"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:xmp="http://ns.adobe.com/xap/1.0/"
        xmlns:xmpRights="http://ns.adobe.com/xap/1.0/rights/"
        xmlns:pdf="http://ns.adobe.com/pdf/1.3/"
        xmlns:pdfx="http://ns.adobe.com/pdfx/1.3/"
        xmlns:pdfxid="http://www.npes.org/pdfx/ns/id/">

      <!-- Dublin Core: Title -->
      <dc:title>
        <rdf:Alt>
          <rdf:li xml:lang="x-default">{{ title }}</rdf:li>
        </rdf:Alt>
      </dc:title>

      <!-- Dublin Core: Creator -->
      <dc:creator>
        <rdf:Seq>
          <rdf:li>{{ author }}</rdf:li>
        </rdf:Seq>
      </dc:creator>

      <!-- Dublin Core: Description / subject -->
      <dc:description>
        <rdf:Alt>
          <rdf:li xml:lang="x-default">{{ title }} by {{ author }}. Published {{ year }}{% if publisher %} by {{ publisher }}{% endif %}.</rdf:li>
        </rdf:Alt>
      </dc:description>

      <!-- Dublin Core: Rights -->
      <dc:rights>
        <rdf:Alt>
          <rdf:li xml:lang="x-default">Copyright &#169; {{ year }} {{ author }}. All rights reserved.</rdf:li>
        </rdf:Alt>
      </dc:rights>

      <!-- Dublin Core: Language -->
      <dc:language>
        <rdf:Bag>
          <rdf:li>{{ language | default("en") }}</rdf:li>
        </rdf:Bag>
      </dc:language>

      <!-- XMP: Creation date -->
      <xmp:CreateDate>{{ year }}-01-01T00:00:00+00:00</xmp:CreateDate>
      <xmp:MetadataDate>{{ year }}-01-01T00:00:00+00:00</xmp:MetadataDate>
      <xmp:CreatorTool>Texgraph / LuaLaTeX</xmp:CreatorTool>

      <!-- PDF: Producer -->
      <pdf:Producer>LuaLaTeX with pdfx package</pdf:Producer>
      {% if isbn %}
      <pdf:Keywords>ISBN: {{ isbn }}</pdf:Keywords>
      {% endif %}

      <!-- PDF/X-3 conformance -->
      <pdfx:Trapped>False</pdfx:Trapped>

      <!-- PDF/X identification -->
      <pdfxid:GTS_PDFXVersion>PDF/X-3:2003</pdfxid:GTS_PDFXVersion>
      <pdfxid:GTS_PDFXConformance>PDF/X-3:2003</pdfxid:GTS_PDFXConformance>

    </rdf:Description>

  </rdf:RDF>
</x:xmpmeta>
<?xpacket end="w"?>
