\clearpage
\thispagestyle{empty}

\vspace*{\fill}

\begin{center}
  {\normalfont\large\scshape \VAR{section_label}}\\[1.5ex]
  {\normalfont\LARGE\itshape \VAR{section_title}}
\end{center}

\BLOCK{if epigraph}
\vspace{3\baselineskip}

\begin{center}
  \begin{minipage}{0.55\textwidth}
    \setlength{\parindent}{0pt}
    \small\itshape
    \VAR{epigraph}
\BLOCK{if epigraph_author}
    \par\vspace{0.75\baselineskip}
    \normalfont\upshape\footnotesize\hfill \VAR{epigraph_author}
\BLOCK{endif}
  \end{minipage}
\end{center}
\BLOCK{endif}

\vspace*{\fill}

\clearpage
